@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, rgb(108, 185, 185), rgb(30, 158, 152));
}
h1{
    color:black;
    text-align: center;
    font-weight: 1500;
    font-family: 'Kaushan Script', cursive;
}
h4{
    /* display: inline-block; */
    padding: 30px;
    color: black;
    font-weight: 900;
    font-family: 'Kaushan Script', cursive;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: cadetblue;
    color: black;
}
a:hover {
    background-color: rgb(18, 24, 24);
    color: black;
    font-weight: 900;
    font-size: 20px;
}